<div class="jumbotron mt-4">
    <h1 class="display-4">Note app Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate aut aliquid aspernatur consequatur, iste atque.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quibusdam veniam labore dolore nemo voluptatem maxime fugit laborum vel iste.</p>
    <a href="" class="btn btn-primary">Marv.com</a>
    
</div>